.form-group {
    margin-bottom: 15px;
}

.input-group {
    display: flex;
    align-items: center;
    position: relative;
}

input.form-control {
    width: 100%;
    padding-right: 20px;
}

.input-group-text {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #6c757d;
}

.input-group-text:hover {
    color: #000;
}

.toggle-password-btn {
    width: 50px; /* Lebar tombol */
    height: 52px; /* Tinggi tombol */
    border-radius: 0; /* Menghapus radius sudut agar menjadi persegi */
    display: flex; /* Menyusun ikon di tengah */
    padding: 0; /* Menghapus padding */
    align-items: center; /* Vertikal center */
    justify-content: center; /* Horizontal center */
    background-color: rgb(228, 228, 228);
}

.toggle-password-btn .mdi {
    font-size: 20px !important; 
    color: #000;
}

.form-check {
    margin-top: 5px; /* Atur sesuai kebutuhan */
    margin-left: 20px;
}